%is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    }
%overlay100 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}  
%fixed00-100 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
} 
