:root {
    // кольори
    --prime-bg-color--: #ffffff;
    /*білий*/
    --second-bg-color--: #2f303a;
    /*темно сірий*/
    --title-ccolor--: #212121;
    /*чорний*/
    --accent-color--: #2196f3;
    /*голубий*/
    --text-color--: #757575;
    /*сірий*/
    --button-bg-color--: #f5f4fa;
    --icon-color--: #afb1b8;
    /*світло сірий */
 

    /* шрифти проекта  */
        --prime-font-family--: "Roboto", sans-serif;
        --second-font-family--: "Raleway", sans-serif;
    
        /* Властивості для переходів */
            --color--: color;
            --fill--: fill;
            --bgcolor--: background-color;
            --bordercolor--: border-color;
            --filter--: filter;
            --transform--: transform;
            --duration--: 250ms;
            --cubic--: cubic-bezier(0.4, 0, 0.2, 1);

   
}
// width/padding container
$width-big-container:1600px;
$width-container: 1200px;
$padding-container: 15px;
//змінна для обчислення flex-basis team-card__item 
$flex-basis:calc($width-container - $padding-container*2);
//кількість features
$number-features:4;
//кількість deal
$number-deals:3;
//кількість працівників
$number-team-member:4;
//
// SASS loop for background color generation.
//список кольорів
  $colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688" ;
