.footer__address {
    margin-right: 70px;
}
.address{
   &__list {
    width: 231px;
   }

   &__item:not(:last-child) {
    margin-bottom: 9px;
   }

   &__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: calc(21 / 14);
    letter-spacing: 0.03em;
    transition: var(--color--) var(--duration--) var(--cubic--);
   }
}
.address__link{
   &--white {
    color: var(--prime-bg-color--);
    transition: var(--color--) var(--duration--) var(--cubic--);
   }

/* реакція на наведення мишки або клавіатури на любий лінк футера */
   &:hover,
   &:focus {
    color: var(--accent-color--);
   }
}