/* СЕКЦІЯ footer*/

.footer-section {
    background: var(--second-bg-color--);
    padding-top: 60px;
    padding-bottom: 60px;
    /* border-top: 0px solid transparent; */
}

.footer-combine {
    display: flex;
    /* gap: 70px; */
    align-items: baseline;
    color: var(--prime-bg-color--);
}

.logo{
   &--mb20 {
    display: inline-block;
    margin-bottom: 20px;
   }

   &__studio--mr0_white {
    display: inline-block;
    color: var(--prime-bg-color--);
    margin-right: 0px;
   }
}