/* секція deal Чим ми займаємось */
/*h2 - .title-second*/
.deal-section {
    padding-top: 0px;
}


.deal__title.title-second {
    margin-bottom: 50px;
}

/* картинки в рядок */
.deal__list {
    display: flex;
    justify-content: space-between;
}

/* Якщо змінити к-ть картинок поки не знаю що написати замість 3 */
/* img  діти li які є ел-ми flex container тому унаслідують наступне  */
.deal__item {
    flex-basis: calc((#{$flex-basis} - 30px * ($number-deals-1)) / $number-deals);
    &--wrapper{
    position: relative;
    }
}

/* обгортка для фоток чим ми займаємось */
// .deal__item--wrapper {
//     /*відносно нього overlay-box з текстом на темному фоні*/
//     position: relative;
// }

.deal__img {
    width: 370px;
    max-height: 294px;
}

/* блок з текстом */
.overlay{
    &--box{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
    }
    &__text{
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        padding: 27px;
          
    }
}

// .overlay--box {
//     position: absolute;
//     width: 100%;
//     bottom: 0;
//     left: 0;
//     background-color: rgba(47, 48, 58, 0.8);
// }

// /* сам текст  */
// .overlay__text {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: calc(16 / 14);
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #ffffff;
//     text-align: center;
//     padding: 27px;
//     text-align: center;
// }

/* .deal-list-item:not(:last-child) {
  margin-right:30px;
 } */