/* porfolio section */
/* h1 Портфоліо -title-first схований */
/* меню фільтра проектів */
/* меню фільтра - flex container */
.filter{
  &__list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }

/* кнопка за замовчанням inline */
/* кнопки фільтра проектів при hover */
  &__button {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--title-ccolor--);
    background: var(--button-bg-color--);
    border-radius: 4px;
    padding: 6px 22px;
    scale: (0.99);
    transition: var(--color--) var(--duration--) var(--cubic--),
        var(--bgcolor--) var(--duration--) var(--cubic--),
        var(--transform--) var(--duration--) var(--cubic--);
    &:focus,
    &:hover {
            color: var(--prime-bg-color--);
            background-color: var(--accent-color--);
            transform: scale(1.15);
        }
  }
}
/* Перша кнопка має інші падінги */
/* .filter__button.all {
  padding: 6px 25px;
} */


