/* список іконок  соціальних мереж в рядок*/
.social{
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 16px 32px 30px;
   }

/*кнопка на соцмережі */
   &__button {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include centeredFlex();
    width: 44px;
    height: 44px;
    border-radius: 50%;/*кругла*/
    color: var(--icon-color--);
    transition: var(--color--) var(--duration--) var(--cubic--),
        var(--bgcolor--) var(--duration--) var(--cubic--);
      // на неї focus,hover
      &:hover,
      &:focus{
        background-color: var(--accent-color--);
        color: var(--prime-bg-color--);
      }

  }
/* колір іконка соцмереж наслідує від кнопки-батька*/
    &__icon {
    fill: currentColor;
   }
}
/* реакція  на наведення на іконки соцмерех*/
// .social__button:hover,
// .social__button:focus {
//     background-color: var(--accent-color--);
//     color: var(--prime-bg-color--);
// }