/* секція Постійні клієнти */

.client {
  &__title {
    margin-bottom: 30px;
    @media screen and (max-width: $max-tablet) {
      font-size: 28px;
      line-height: calc(33 / 28);
    }
    @media screen and (min-width: $min-desktop) {
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: $min-desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    @media screen and (max-width: $max-mobile) {
      flex-basis: calc((100% - 2 * $padding-container) / 2);
    }

    @media screen and (min-width: $min-tablet) {
      flex-basis: calc((100% - 2 * $padding-container * 2) / 3);
    }

    //  @media screen and (min-width:$min-desktop)  {
    //      flex-basis: calc(($basis - 2 * $padding-container * 5) / 6);
    //  }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--icon-color--);

    border: 1px solid var(--icon-color--);
    border-radius: 4px;
    transition: var(--color--) var(--duration--) var(--cubic--),
      var(--bordercolor--) var(--duration--) var(--cubic--);
    overflow: hidden;
    &:hover,
    &:focus {
      border-color: var(--accent-color--);
      color: var(--accent-color--);
      @media screen and (min-width: $min-desktop) {
        transform: scale(2);
      }
    }
  }

  &__icon {
    // display:block;
    fill: currentColor;
  }
}

// .client__link:hover,
// .client__link:focus {
//     border-color: var(--accent-color--);
//     color: var(--accent-color--);
//     transform: scale(2);
// }
