/* секція deal Чим ми займаємось */
/*h2 - .title-second*/
.deal{
    @media screen and (max-width:$min-desktop) {
            display: none;
        }
   &__title.title-second {
    margin-bottom: 50px;
   }

/* картинки в рядок */
   &__list {
    display: flex;
    justify-content: space-between;
    gap:30px;
   }

// ширина ел-та
  &__item {
    // flex-basis: calc( ($basis-desktop - 2 * $padding-container  * ($number-deals - 1)) / $number-deals);
    &--wrapper{
    position: relative;
    }
   }
   &__img {
     width: 370px;
     max-height: 294px;
   }
   &-section {
       padding-top: 0px;
       // до desktop не показувати
      
   }
}



/* блок з текстом */
.overlay{
    &--box{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
    }
    &__text{
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        padding: 27px;
          
    }
}

// .overlay--box {
//     position: absolute;
//     width: 100%;
//     bottom: 0;
//     left: 0;
//     background-color: rgba(47, 48, 58, 0.8);
// }

// /* сам текст  */
// .overlay__text {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: calc(16 / 14);
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #ffffff;
//     text-align: center;
//     padding: 27px;
//     text-align: center;
// }

/* .deal-list-item:not(:last-child) {
  margin-right:30px;
 } */