/* секція Особливості */
/* feature-section */
/* h2 схований */
/* h3 - .tille-third */
/* feature-section обгорнута в  container 1200px */
/* список feature ставимо в рядок */
/* p в li */

.feature__list {

    @media screen and (min-width:$min-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap:30px;
     }
    @media screen and  (min-width:$min-desktop) {
       flex-wrap: nowrap;
      }
    & .title-third {
            text-align: center;
            margin-bottom: 10px;
    
            @media screen and (min-width:$min-tablet) {
                text-align: left;
            }
    }
}
.feature__item {
      @media screen and (max-width:$max-mobile) {
       margin-bottom:30px;
    }

      @media screen and (max-width:$min-desktop) {
         flex-basis:calc(($basis - 2*$padding-container*1 )/ 2);
        //  &:nth-child(2n+1) {
        //   margin-right: 2*$padding-container;
        //  }
     }     
      @media screen and (min-width:$min-desktop) {
         flex-basis:calc(($basis - 2*$padding-container*3) / 4);
        //  &:not(:last-child) {
        //   margin-right: 2*$padding-container;
        //   }
    }
}
.feature__icon {
    display: block;

    &--block {
        background: var(--button-bg-color--);
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 15px auto;
    }
}
.feature__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color--);
}




