/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  @media screen and (min-width: $min-desktop) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &--transform {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: $min-tablet) {
      margin-right: 87px;
      margin-top: 0px;
      margin-bottom: 0px;
      transition: transform 500ms linear;
      &:hover {
        transform: scale(2);
      }
    }
    @media screen and (min-width: $min-desktop) {
      margin-right: 93px;
    }
  }
  &__web--blue {
    color: var(--accent-color--);
  }
  &__studio--black {
    color: #000;
  }
}
