.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--title-ccolor--);
  position: absolute;
  top: 10px;
  right: 10px;
  &-icon {
    fill: currentColor;
  }
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  @media (min-width: $min-tablet) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: $min-mobile) {
    width: calc(100% - 2 * $padding-container);
  }
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: var(--prime-bg-color--);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--cubic--);
  &.is-open {
    transform: translateX(0);
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  // align-items: center;
  padding: 0;
  margin-bottom: auto;
  list-style: none;
  transition: transform 500ms var(--cubic--);
  & .link {
    display: block;
    padding: 10px;
    color: var(--title-ccolor--);
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    &.link--current {
      color: var(--accent-color--);
    }
  }
}

.mobile-contacts {
  margin-bottom: auto;
  @media screen and (min-width: $min-mobile) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  & .tel {
    font-weight: 500;
    font-size: 34px;
    line-height: (calc 40 /34);
    letter-spacing: 0.02em;
    color: var(--accent-color--);
    // margin-bottom: 32px;
  }
  & .mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-color--);
  }
}

.mobile-socials {
  display: flex;
  align-items: center;
  // gap: 20px;
  justify-content: center;

  &-item {
    position: relative;
    flex-basis: calc((100% - 2 * $padding-container) / 4);
    &:not(:last-child) {
      padding-right: 10px;
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
    &:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      right: -10px;
      bottom: 10px;
      width: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }

  & .link {
    display: block;
    // margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--accent-color--);
  }
}
.mobile-button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  & .icon-close:hover,
  & .icon-close:focus {
    stroke: var(--accent-color--);
  }
}
