//анімація заголовка hero
@keyframes slide-to-bottom {
    0% {
        opacity: 0;
        transform: perspective(200px) translateY(-50px);
    }

    50% {
        opacity: 0.5;
        transform: perspective(200px) translateY(0);
        letter-spacing: 0.15em;
    }

    100% {
        opacity: 1;
        transform: perspective(200px) translateY(0);
        letter-spacing: 0.06em;
    }
}
//анімація кнопки Замовити
@keyframes butjump {
    0% {
        opacity: 0.5;
        transform: perspective(400px) translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: perspective(400px) translateY(0);
    }
}
