:root {
    // кольори
    --prime-bg-color--: #ffffff;
    /*білий*/
    --second-bg-color--: #2f303a;
    /*темно сірий*/
    --title-ccolor--: #212121;
    /*чорний*/
    --accent-color--: #2196f3;
    /*голубий*/
    --text-color--: #757575;
    /*сірий*/
    --button-bg-color--: #f5f4fa;
    --icon-color--: #afb1b8;
    /*світло сірий */
 

    /* шрифти проекта  */
        --prime-font-family--: "Roboto", sans-serif;
        --second-font-family--: "Raleway", sans-serif;
    
        /* Властивості для переходів */
            --color--: color;
            --fill--: fill;
            --bgcolor--: background-color;
            --bordercolor--: border-color;
            --filter--: filter;
            --transform--: transform;
            --duration--: 250ms;
            --cubic--: cubic-bezier(0.4, 0, 0.2, 1);

 }
// width/padding container
$big-container: 1600px;

$min-mobile: 480px;
$min-tablet: 768px;
$min-desktop: 1200px;

$max-mobile: 767.97px;
$max-tablet: 1199.97px;

$padding-container: 15px;
//змінна для обчислення flex-basis team-card__item 
$basis: calc(100% - $padding-container*2);
// $basis-desktop: calc($min-desktop - $padding-container*2);

//
// SASS loop for background color generation.
//список кольорів
  $colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688" ;
