.footer__social {
  @media screen and (max-width: $max-mobile) {
    margin-bottom: 36px;
  }
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: flex-start;
  justify-content: center;
  @media screen and (min-width: $min-desktop) {
    justify-content: flex-start;
    margin-right: 93px;
  }
}

.social {
  &__text {
    text-align: center;
    color: var(--prime-bg-color--);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width: $min-desktop) {
      text-align: left;
    }
  }

  &__list--footer {
    margin: 0 auto;
  }
}

.social__button--footer {
  color: var(--prime-bg-color--);
  background: rgba(255, 255, 255, 0.1);
  transition: var(--bgcolor--) var(--duration--) var(--cubic--);

  &:hover,
  &:focus {
    background-color: var(--accent-color--);
  }
}
